//////// Variable colours.
//////// Do not use colours not specified in this sheet please.
$green      : #87EF78;
$green_light: #87EF78;
$blue  : #7FBFE0;


//////// Fonts
$handWritten : 'Pacifico', cursive;
$standard    : 'Lato', sans-serif;
