@import '../global/variables';


body{
  &.home{
    background-size: cover;
    background-position: bottom left;
    background-image: url('../images/landing_background_1.png');
    position: relative;
    height: 100%;
    min-height: 100%;

    #find-my-nomads-main {
      height: 100%;
      min-height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:after{
      content:'';
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.20);
      box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.2);
    }


    //The centered text container on the home screen is called  'Introduction'
    .introduction{
      width: 500px;
      text-align: center;
      z-index: 10;
      opacity: 0;

      @media screen and (max-width: 910px){
        width: 100%;
        margin-left: 0;
      }

      h3{
        float:left;
        width: 100%;
        font-family: $handWritten;
        color:#fff;
        font-size: 60px;
        cursor: default;
        padding: 0;
        font-weight: 100;
        margin: 0 0 5px 0;
      }

      //Forms
      .input-container{
        float: left;
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;

        label{
          float:left;
          width: 100%;
          font-size: 20px;
          font-weight: 400;
          margin: 0 0 5px 0;
          text-align: left;
        }

        .text ,  select{
          line-height: 40px;
          width: 100%;
          font-size: 14px;
          text-align: left;
          background: #fff;
          color: #171717;
          border: none;
          font-weight: 300;
          padding: 0 10px;
          border: 2px solid #fff;
          border-radius: 2px;
          transition: border 0.3s;
          &.error{
            border:2px solid red;
          }
          &.active{
            border:2px solid $green_light;
          }

          &:focus, &:active, &:hover{
            outline: none;
          }
        }

        #usr_type{
          height: 40px;
          border-radius: 0px;
          text-indent: 5px;
          padding: 0;
          cursor: pointer;
        }
      }

      .button-container{
        float:left;
        width: 100%;
        height: auto;
        text-align: center;

        .back {
          float: left;
          margin-left: 0;
        }

        .next {
          float: right;
          margin-right: 0;
        }
      }

      p{
        float: left;
        width: 100%;
        font-size: 20px;
        line-height: 30px;
        cursor: default;
        margin: 0 0 30px 0;
      }

      &.active{
        justify-content: center;
        flex-direction: column;
        opacity: 1;
      }

    }
  }

    &.map_view {
        overflow: hidden;
    }


  .alert {
    float: left;
    width: 100%;
    padding: 20px;
    background-color: #d25b5b;
    color: #fff;
    text-align: left;
    font-size: 0.9em;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    display: none;

    &.active {
        display: block;
    }
  }

}

///Made by banner
.project_banner_details{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  font-size: 14px;
  z-index: 100;
  opacity: 0.8;
  transition: all 0.3s;
  cursor: default;
  &:hover{
    opacity: 1;
  }
  a{
    color:#fff;
    text-decoration: underline;
    cursor: pointer;
  }
}

//Mobile
@media (max-width: 900px) {
  body.home{
    background-position: center bottom;

    h1.main-logo {
      font-size: 30px;
    }

    .introduction p {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    .app-button {
      margin: 0 10px;
      width: 100px;
      font-size: 14px;
    }

    .project_banner_details{
      text-align: center;
      width: 100%;
      left: 0;
    }

  }
}
