@import '../global/variables';
/////////////////
//////// Styling related to the map / logged in page
////////////////

#map_preloader{
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  color:#fff;
  z-index: 200;
  text-align: center;

  h3{
    float: left;
    width: 100%;
    height: auto;
    color:#fff;
    font-size: 80px;
    font-family: $handWritten;
    letter-spacing: 1px;
    line-height: normal;
    margin: 20% 0 0px 0;
    cursor: default;
  }
  p{
    float:left;
    width: 100%;
    height: auto;
    font-size: 20px;
  }
}


// The Main Map
#main_map{
  float:left;
  width: 100%;
  min-height: 300px;
  z-index: 100;
  display: none;
}


// The user information overlay
.information-overlay{
  position: fixed;
  width: 323px;
  left:0;
  top:0;
  height: 100%;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
  z-index: 200;
  display: none;
  overflow: hidden;
  color:#000;
  transition: all 0.5s;

  &.hidden{
    left:-100%;
    overflow: visible;
    width: 0px;
    height: 0px;
    transition: left 0.3s all 1s;
  }

  h3.title{
    float:left;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: normal;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    font-family: $handWritten;
    transition: all 0.4s;
  }

  &.hidden{
    h3.title{
      position: fixed;
      left: 50%;
      width: 300px;
      text-align: center;
      background-color: #fff;
      top: 0;
      margin-left: -150px;
      line-height: 70px;
      height: 70px;
      padding: 0;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      z-index: 200;
      transition: all 0.3s;
      border-radius: 4px;
      top: -5px;
    }
  }

  .user_block{
    float: left;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 110px;
    position: relative;

    /////////////////
    /////// USER Details

    .main_user_avatar{
      position: absolute;
      width: 80px;
      height: 80px;
      top:50%;
      left:10px;
      margin-top: -40px;
      border-radius: 50%;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      z-index: 200;
      box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.6);
    }
  }



  //Button Container
  .sidebar-button-container{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: auto;
    margin: 0; 
    &:hover{
      .sidebar-button{
        opacity: 0.2;
        transition: all 0.3s;
      }
    }

    .sidebar-button{
      float:left;
      width: 100%;
      text-transform: uppercase;
      color:#000;
      letter-spacing: 1px;
      padding: 5% 20px;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 900;
      border-bottom: 1px solid #000;
      cursor: pointer;
      transition: all 0.5s;

      i{
        float:right;
        font-size: 18px;
      }

      &:hover{
        opacity: 1;
        background-color: rgba(0,0,0,0.9);
        color: #fff;
        padding-left: 40px;
        transition: all 0.3s;
      }
    }
  }

  .section{
    float:left;
    width: 100%;
    height: auto;
    padding: 10px;

    h4{
      float:left;
      width: 100%;
      font-size: 20px;
      color:#000;
      margin: 0 0 10px 0;
    }
  }
}

///Add locations
#add_location_container{
  display: none;
  position: fixed;
  top:50%;
  right:50%;
  width: 300px;
  height: auto;
  min-height: 300px;
  background-color: #fff;
  color:#000;
  padding: 20px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
  margin-top: -150px;
  margin-right: -150px;
  z-index: 200;
  transition: all 0.5s;

  &.active{
    right:0;
    margin-right: 0;
    transition: all 1s;
  }

  .close{
    position: absolute;
    top:-25px;
    right:-25px;
    z-index: 300;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    i{
      font-size: 40px;
      line-height: 49px;
      transition: all 0.3s;
    }
    &:hover{
      i{
        font-size: 42px;
        color: #E56449;
      }
    }
  }

  &.active{
    .close{
      right: 100%;
      transition: all 0.3s;
      margin-right: -25px;
    }
  }

  h4{
    float:left;
    width: 100%;
    margin: 0 0 20px 0;
    font-family: $handWritten;
    text-align: center;
    font-size: 34px;
    cursor: default;
  }

  p{
    float:left;
    width: 100%;
    text-align: center;
    color:#000;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 20px 0;
  }

  //The form
  #user_add_location{
    float:left;
    width: 100%;
    height: auto;
    //Forms
    .input_container{
      float: left;
      width: 100%;
      height: auto;
      margin: 0 0 20px 0;

      label{
        float:left;
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 10px 0;
        text-align: left;
        text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.7);
      }

      .text ,  select{
        line-height: 50px;
        width: 100%;
        text-align: left;
        background: rgba(255,255,255,0.8);
        color: #000;
        font-size: 16px;
        border: none;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 0 20px;
        border:2px solid #fff;
        margin-bottom: 20px;
        border:1px solid #000;
        transition: border 0.3s;
        &.error{
          border:2px solid red;
        }
        &.active{
          border:2px solid $green_light;
        }

        &:focus, &:active, &:hover{
          outline: none;
        }
      }
      select{
        height: 50px;
        border-radius: 0px;
        text-indent: 20px;
      }
    }
  }

  .button{
    float:left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #000;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 10px;
    font-weight: 900;
    border-radius: 3px;
    &.default{
      text-transform: uppercase;
      &:hover{
        background-color: #B1EF56;
      }
    }
    &.active{
      background-color: #B1EF56;
      color:#000;
      &:hover{
        background-color: #BAF266;
      }
    }
    &.try_again{
      display: none;
      background-color: #FDB11C;
      &:hover{
        background-color: #FFC24B;
      }
    }

    &:last-of-type{
      margin-bottom: 0;
    }
  }
}


//////// Update location box
.update_location_information{
  position: fixed;
  width: 300px;
  height: 245px;
  top:50%;
  right:0;
  margin-top: -122px;
  background-color: #fff;
  border-radius: 6px 0px 0 6px;
  z-index: 200;
  color:#000;
  text-align: center;
  display: none;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  padding: 20px;

  .close{
    position: absolute;
    top:-25px;
    left:-25px;
    z-index: 300;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    i{
      font-size: 40px;
      line-height: 49px;
      transition: all 0.3s;
    }
    &:hover{
      i{
        font-size: 42px;
        color: #E56449;
      }
    }
  }

  h4{
    float:left;
    width: 100%;
    margin: 0 0 20px 0;
    font-family: $handWritten;
    text-align: center;
    font-size: 34px;
    cursor: default;
  }

  p{
    float:left;
    width: 100%;
    text-align: center;
    color:#000;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 20px 0;
  }

  .button{
    float:left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #000;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 10px;
    font-weight: 900;
    border-radius: 3px;
    background-color: #B1EF56;
    text-transform: uppercase;
    color:#000;
    &:hover{
      background-color: #BAF266;
    }
  }
}
