@import '../../global/variables';
///////////////////
//////// Sidebar that displays for all users
///////////////////

.information-overlay{
  position: fixed;
  width: 250px;
  top:0;
  height: 100%;
  background-color: #fff;
  z-index: 200;
  overflow: hidden;
  color:#000;
  transition: all 0.2s;

  &.hidden{
    left:-100%;
    overflow: visible;
    width: 0px;
    height: 0px;
    transition: left 0.3s all 1s;

    h3.title {
      position: fixed;
      left: 50%;
      width: 300px;
      text-align: center;
      background-color: #fff;
      top: 0;
      margin-left: -150px;
      line-height: 70px;
      height: 70px;
      padding: 0;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      z-index: 200;
      transition: all 0.3s;
      border-radius: 4px;
      top: -5px;
    }
  }

  h3.title{
    float:left;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: normal;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #1f1f1f;
    font-family: $handWritten;
    height: 10%;
    transition: all 0.4s;
  }

  &.active {
    right: 0;
  }

  .user_block{
    float: left;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #1f1f1f;
    position: relative;

    /////////////////
    /////// USER Details

    .main_user_avatar{
      width: 101%;
      height: 200px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      z-index:0;
    }

    .user_content_container {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
      color: #fff;
      z-index: 10;
      font-size: 14px;
      font-weight: 600;
      text-shadow: 2px 2px 1px #1f1f1f;
      cursor: default;

      .title {
        float: left;
        width: 100%;
        font-size: 18px;
        margin-bottom: 5px;
      }

      .info {
        width: 100%;
        margin: 0 0 5px 0;
    }
    }
  }



  //Button Container
  .sidebar-button-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;

    .sidebar-button {
      width: 100%;
      text-transform: uppercase;
      color:#1f1f1f;
      letter-spacing: 1px;
      padding: 5% 20px;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 900;
      border-bottom: 1px solid #1f1f1f;
      cursor: pointer;
      transition: all 0.25s;

      i {
        float:right;
        font-size: 18px;
      }

      &:hover,
	  &.active {
        opacity: 1;
        background-color: #1f1f1f;
        color: #fff;
      }

	  &:last-of-type {
          position: absolute;
          bottom: 0;
          left: 0;
          border-top: 1px solid #1f1f1f;
          border-bottom: none;
          align-self: flex-end;
	  }

    }
  }

  .section{
    float:left;
    width: 100%;
    height: auto;
    padding: 10px;

    h4{
      float:left;
      width: 100%;
      font-size: 20px;
      color:#000;
      margin: 0 0 10px 0;
    }
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }


}
